{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true
  }
}
